@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";
}

<div class="text-center mt-5">
    <h2>¡Bienvenido a Eco-Reto 🌱!</h2>
    <p>Empieza a cumplir tus misiones ecológicas y gana puntos.</p>
    <a href="/Account/Logout" class="btn btn-outline-success mt-3">Cerrar Sesión</a>
</div>
